# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# IDE/Editor specific settings
.vscode/
.idea/

# Environment variables file
.env

# Database Data (NEVER commit this)
postgres-data/

# Generated Data Files (Optional but Recommended)
# *.txt
# recipe_data.json